<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Database</title>
  </head>
  <body>
    <h1>목록 추가하기</h1>
    <hr>
    <form action="/create" method="POST">
      <table>
        <tr>
          <td><input type="number" name="id" placeholder="아이디를 입력하세요"></td>
        </tr>
        <tr>
          <td><input type="text" name="name" placeholder="이름을 입력하세요"></td>
        </tr>
        <tr>
          <td><input type="number" name="age" placeholder="나이를 입력하세요"></td>
        </tr>
      </table>
      <input type="submit" value="전송하기">
    </form>
    <table>
    <% for(let data of results) { %>
        <tr>
            <td><%= data.id %></td>
            <td><%= data.name %></td>
            <td><%= data.age %></td>
        </tr>
    <% } %>
</table>
  </body>
</html>
