{% extends 'classapp/base.html' %}

{% block content %}
<div class=board>
<table class="table">
    <tbody>
    {% for board in object_list %}
    <tr>
        <td>{{board.board_name}}</td><td>
            <form action="{% url 'classapp:board_delete' board.board_name %}" method = 'post' >
                {% csrf_token %}
             <input type="submit" name ="delete" value="삭제" >
             </form>
    </tr>
    {% endfor %}
    </tbody>
</table>
<form action="{% url 'classapp:board_create' %}" method='post'>
    {% csrf_token %}
 <button type = "submit">게시판 생성</button>
 </form>
</div>
{% endblock content %}
