<style>

        body{
            background-color:  #F2F2F2;
            font-family: Nanum Gothic;
            font-size: 12px;
        }
        </style>

<form action="{% url 'classapp:register' %}" method='POST'> 
    {% csrf_token %}
    <table border="1">
        <tr>
            <td>이메일</td>
            <td>{{email_input}} </td>
        </tr>
        <tr>
            <td> 비밀번호 </td>
            <td>{{pass_input}}</td>
        </tr>
        <tr>
            <td> 학번, 직번 </td>
            <td>{{number_input}}</td>
        </tr>

    </table>